html{
  font-family: "helvetica neue", "Arial", sans-serif; /*changer les fontes du document*/
}

body {/* pas de . comme pour les classes car head est un élément html */
  background-color: #ffffff;
  margin: 0; /* car comportement natif du html est de mettre une marge par défaut tout autour du body */
}
p{
  color:#5d6660;
  font-size: 16px;
  line-height:24px;
  font-family: "helvetica neue", "Arial", sans-serif;
}
header { /* pas de . comme pour les classes car head est un élément html */
  background-color: #ffffff;
  height: 80px;
}
#header-container{
  width: 75%; /* pour pas que les 3 colonnes s'étendent sur toute la div */
  margin: auto; /* marge égale à gauche et à droite donc centre le contenu */
}
.col-3 {
  /*background-color: red;*/ /* rouge tempo est pratique pour voir la place que ça prend */
  width: 32%;
  float: left;
}
.logo{
  padding-top: 32px;
}
.menu{
  margin-top: 32px; /*bouge tout le menu vers le bas*/

}
.menu li{ /* s'applique à toutes les listes de la classe menu*/
  list-style-type: none; /* va supprimer les bullets points*/
  display: inline;
  font-size: .85em; /* voir https://www.alsacreations.com/article/lire/563-gerer-la-taille-du-texte-avec-les-em.html*/
  color: #8e8e8e;
  padding-right: 30px; /*espace entre les éléments de la liste*/
}
.getStartedBtn{
  background-color: #6dc77a;
  border-radius: 28px; /*arrondi*/
  -moz-border-radius: 28px; /*compatibilité arrondi mozilla https://www.alsacreations.com/article/lire/1159-prefixes-vendeurs-css-proprietaires.html*/
  -webkit-border-radius: 28px; /* compatibilité Chrome, Safari, Android...*/
  text-decoration: none; /*pas de sousligné*/
  color: #ffffff;
  padding: 10px 26px ;/* droiteGauche et BasHaut */
  margin-top: 20px;
  display: inline-block; /*sinon margin-top ne marche pas*/
  font-size: 17px;
  float:right;
}
#top-section-main{
  background-color: black;
  background-image: url("../images/friends.jpg");
  background-repeat: no-repeat;
  background-position: center;
  height: 740px;
  border: none;
}
#top-section-content{
  width:60%;
  margin-left: auto; /*centrer le contenu*/
  margin-right: auto;/*centrer le contenu*/
  margin-top: 0px;
}
#top-section-content h1{ /*s'applique à chaque h1 de top-section-content*/
  font-size: 4em;
  font-weight: 300;
  color:#ffffff;
  text-align: center;
  margin-top: 0px; /* vu via "examiner l'élément" du browser que le texte dépasse (gros rectangle)*/
  padding-top: 100px;
  margin-bottom: 15px;
}
#top-section-content p{
  font-size: 1.3em;
  font-weight: 400;
  color:#ffffff;
  text-align: center;
  margin-top: 0px;

}
.playBtn{
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding: 50px 0px 110px 0px;
}
.main-form h6{
  font-family: sans-serif;
  font-size: .9em;
  font-weight: 100;
  color: #ffffff;
  text-align: center;
}
.main-form input{
  margin: 0;
  width: 30%;
  height: 40px;
  font-family: sans-serif;
  font-size: 15px;
  padding-left: 15px;
  font-weight: 100;
  border: none;
}

.main-form button{
  background-color: #6dc77a;
  color: #ffffff;
  width:30%;
  height: 42px;
  font-family: sans-serif;
  font-size: 15px;
  padding-left: 15px;
  font-weight: 100;
  border: none;
}
#feature-section{
  padding-top: 100px;
}
.feature-section-title{
  width:70%;
  text-align: center;
  margin: auto;
  font-weight: 200;
  line-height: 1.5em;
}
.feature-content{
  margin: auto;
  width: 80%;
  padding-top: 100px;
}
.feature-content .col-3 img{ /*pour chaque image qui est dans une col-3 qui est dans un feature-content*/
  width: 100%; /* l'image doit prendre 100% de la colonne"*/
}
.feature-content .col-3 p{
  font-size: .9em;
  letter-spacing: 1px;
  text-align: center;
}
.feature-content .col-3 h3{
  text-align: center;
}
.feature-content .col-3{
  padding: 10px;
  width: 30%; /*override du col-3 style pour feature-content */
}
.col-2{
  float:left;
  width: 48%;
}
#showcase1-container{
  padding-top: 60px;
  background-color: #f6f8fa;
  width:100%;
  clear:both; /*indique que l'élément est déplacé vers le bas afin de dégager les flottements à gauche et à droite.*/
}
.showcase{
  width:80%;
  margin: auto;
  overflow: auto; /*afficher le contenu sortant du cadre dans un élément de type bloc. https://developer.mozilla.org/fr/docs/Web/CSS/overflow*/
}
.showcase1Img{
  width:100%;
}
.feature-text{
  padding-top: 300px;
  padding-left: 50px;
}
.section-title{
  width: 70%;
  margin: auto;
  font-weight: 200;
  line-height: 1.5em;
}
.section-left{
  width: 70%;
  padding: 20px 10px 10px 10px; /*top right bottom left*/
  margin: auto;
}
#showcase2-container{
  padding-top: 60px;
  background-color: #ffffff;
  width:100%;
  clear:both; /*indique que l'élément est déplacé vers le bas afin de dégager les flottements à gauche et à droite.*/
}
.col-1{
  width:80%;
  margin: auto;
}
#call-to-action{
  background-image: url("../images/darkdesk.png");
  background-repeat: no-repeat;
  background-color: black;
  background-position: 50% 50%; /* repositionnement de ce qu'on voit du background dans la div*/
  padding-bottom: 45px;
}
.action-title{
  font-size: 4em;
  font-weight: 300;
  color:#ffffff;
  text-align: center;
  margin-top: 0;
  padding-top: 100px;
}
.col-1 p{
  font-size: 1.6em;
  font-weight: 300;
  color: #ffffff;
  text-align: center;
  margin:0;
  padding-bottom: 100px;
}
.signupBtn{
  background-color: #6dc77a;
  color: #ffffff;
  font-size: 1em;
  font-weight: 200;
  text-decoration: none;
  padding: 30px 90px 30px 90px;
}
.signupBtn:hover{ /* = btn au rollover - possible de voir les autres options cliqué ...)*/
  background-color: #5cbf2a;
}
.signupform{
  background-color:#f6f8fa;
  margin-right: 200px;
  padding: 0px 50px 10px 50px;
}
.signupform h6 {
  color:black;
  padding-top: 15px;
  font-size: .9em;
  text-align: center;
}
.top-margin{
  margin-top: 100px;
  margin-left: 100px;
}
input {
  margin: 0;
  width:100%;
  height: 50px;
  font-family: sans-serif;
  font-size: 15px;
  font-weight: 100;
  border: none;
  margin-top: 15px;

}
button {
  width: 100%;
  height: 50px;
  font-family: sans-serif;
  font-size: 15px;
  font-weight: 100;
  margin: 0;
  background-color: #6dc77a;
  color:#ffffff;
  border: none;
  margin-top: 15px;
}
footer {
  background-color: black;
  clear: both; /*sinon le footer va au dessus de la précédente div"*/
  margin-top: 30px;
  height: 500px;
  background-image: url("../images/footerbg.png");
  background-repeat: no-repeat;
  background-color: black;
  background-position: 50% 50%;
}
.social-footer{
  width:33%;
  float:left;
  height:40%;
}
.social-footer:hover{
  background-color: black;
  opacity:.5;
}
.center{
  width: 50px;
  margin: auto;
  padding-top: 60px;
}
.copyright{
  color:#ffffff;
  font-size:.9em;
  text-align: center;
  display: block; /* sinon ne se centre pas /* 
}
